# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
.mypy_cache/
*.egg-info/
*.egg
venv
.vscode
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache

# Environments
.env
.venv


# JS
node_modules/

# Editors
*.sublime*
.idea
*.suo
*.ntvs*
*.njsproj
